@import url('../css/fonts.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /*theme color*/
    --text-gray: #363e47;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /*gradient color*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*theme font family*/
    --abel:'abel', cursive;
    --anton:'anton', cursive;
    --josefinSans:'josefinSans', cursive;
    --livvic:'livvic', cursive;
}

/*-- --------------------------Global Classes----------------------------- */

a{
    text-decoration: none;
    color: var(--text-gray);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
h1{
    font-family: var(--livvic);
    font-size: 2.5rem;
}
h2{
    font-family: var(--anton);
}
h3{
    font-family: var(--abel);
    font-size: 1.3rem;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: var(--livvic);
    cursor: pointer;
}
span{
    font-family: var(--abel);
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color:var(--text-gray);
}
p{
    font-family: var(--livvic);
    color: var(--text-light);
}
/*-- ------------*-------------Global Classes---------------*------------- */

/*-- ----------------------------navigation------------------------------- */

.nav{
    background: white;
    padding: 0.2rem;
    height: 0rem;
    min-height: 5vh;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem;
}

.nav .toggle-collapse .toggle-icons{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 25rem;
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--livvic);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.2rem;
}
.nav .social i:hover{
    color: #a1c4cf;
}
/*-- ---------------------*------navigation------------------*------------ */

/*-- ----------------------------main section----------------------------- */

/*-- site title--*/
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}
main .site-title h1, h3{
    margin: .3rem;
}
main .site-title .btn{
    margin: 1.8rem;
    background:var(--sky);
}
main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}


/*-- blog carousel --*/

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 68%;
}

main .blog .blog-post{
    padding-top: 10rem;

}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
main .blog-content .blog-title{
    padding: 2rem 0;
}
main .blog-content .btn-blog{
    padding: 1rem 3rem;
    background: var(--sky);
    margin: 1rem;
    
}
main .blog-content span{
    display: block;
}
section .container .owl-nav{
    position: absolute;
    padding-top: 0%;
    margin:0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav[class*='owl-']{
    outline: none;
}

/*---------------------site content-----------------------*/
main .site-content{
    display: grid;
    grid-template-columns: 40% 30%;
    padding-left: 2rem;
}

main .post-content{
    width: 100%;
    margin-bottom: 5rem;
}
main .site-content .post-content > .post-image .post-title{
    padding: 1rem 2rem;
    position: relative;
}
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: -155%;
    left:15vw;
    border-radius: 3rem;
}
main .site-content>.post-image>div{
    overflow:hidden;
}
main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.1);
}
main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}
main .post-content .post-title a{
    font-family: var(--anton);
    font-size: 1.5rem;
}
.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}
/*-- ------------------*---------main section---------------*------------- */

/*-- --------------- viweport less thenor equal to 750px ----------------- */
@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}
/*-- ------*-------- viweport less thenor equal to 750px ---------*------- */
